<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body>
        <header class="header">
            <div class="wrapper">
                <img class="hero-image" src=""/>
                <div class="hero-content">
                    <h1 class="hero-name title-heading"></h1>
                    <p class="hero-bio"></p>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <h2 class="title title-heading"></h2>
            <section class="content">
                <!-- INSERT API CONTENT -->
            </section>
        </div>
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>
