@font-face {
    font-family: "Big Noodle Too";
    src: url(https://overwatch-a.akamaihd.net/fonts/big-noodle-too-eaef42cc66ce3dcbe29cd88eca8801d55fe8dcc11c7153cc9c3f3418084ef1c50b1b7e270c826ded2d868a825af5c5b9d9be69d25795aae62c721c64faef1a95.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Big Noodle Too";
    src: url(https://overwatch-a.akamaihd.net/fonts/big-noodle-too-oblique-0762bcfb7ce452ecfa21830ab40ee34f9bf2e6fbcecb649c8995bd59fdf93a74a8345855c3890ec3901ac7ca442040112f37f387c98a57ced5af61d92ee8e06c.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon--tank {
    background: transparent url('../images/tank.svg') no-repeat center center;
}

.icon--support {

}

.icon--damage {

}

.title-heading {
    font-family: "Big Noodle Too", Arial;
    font-style: italic;
}

.header {
    background-color: orange;
}

.header .wrapper {
    display: flex;
    flex-direction : row;
    padding: 32px 16px;
}

.hero-image {
    padding: 0 16px 0 0;
    object-fit: contain;
}

.hero-content {
    align-self: flex-end;
}

.hero-name {
    font-size: 3rem;
}

.hero-bio {
    font-size: 1.5rem;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

.title {
    font-size: 2.5rem;
}

.content {

}

.responsive--16x9 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}